<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>PDF List</title>-->
<!--    <style>-->
<!--        table {-->
<!--            margin-top: 10px;-->
<!--            border-collapse: collapse;-->
<!--            width: 100%;-->
<!--        }-->

<!--        th, td {-->
<!--            border: 1px solid #dddddd;-->
<!--            text-align: left;-->
<!--            padding: 10px;-->
<!--        }-->

<!--        th {-->
<!--            background-color: #f2f2f2;-->
<!--        }-->

<!--        h2 {-->
<!--            text-align: center;-->
<!--            color: #00008B;-->
<!--        }-->

<!--        .table-container {-->
<!--            margin-top: 20px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</div>-->

<!--<div class="form-container">-->
<!--    <form action="/upload" method="post" enctype="multipart/form-data">-->
<!--        <input type="file" name="file" accept=".xlsx,.xls,.zip">-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
<!--</div>-->

<!--<h2>PDF List</h2>-->
<!--<input type="text" id="filenameInput" onkeyup="searchByFilename()" placeholder="Search by FolderName">-->

<!--<script>-->
<!--    function searchByFilename() {-->
<!--        var input, filter, table, tr, td, i, txtValue;-->
<!--        input = document.getElementById("filenameInput");-->
<!--        filter = input.value.toUpperCase();-->
<!--        table = document.getElementById("pdfTableBody");-->
<!--        tr = table.getElementsByTagName("tr");-->

<!--        for (i = 0; i < tr.length; i++) {-->
<!--            td = tr[i].getElementsByTagName("td")[1]; // Assuming folderName is in the second column-->
<!--            if (td) {-->
<!--                txtValue = td.textContent || td.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                    tr[i].style.display = "";-->
<!--                } else {-->
<!--                    tr[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<div class="table-container">-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Create At</th>-->
<!--            <th>Foldername</th>-->
<!--            <th>Filename</th>-->
<!--            <th>Extension</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="pdfTableBody">-->
<!--        <tr th:each="item : ${combinedList}">-->
<!--            <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.createAt}">-</td>-->
<!--            <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.folderName}">-</td>-->
<!--            <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.filename}">-</td>-->
<!--            <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.extension}">-</td>-->
<!--            <td th:if="${item.getClass().getSimpleName() == 'Pdf'}"><a th:href="@{'/view-pdf/' + ${item.filename}}" target="#">View PDF</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
